@mixin user-pic-borders {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid  rgb(255, 204, 0);
}

@mixin slider {
    position: absolute;
    top: 50%; 
    width: 15px;
    height: 15px;
    border: 2px solid  $items-color;
    border-top: none;

    &:hover {
        border-color: darken($color:$items-color, $amount: 15%);
        cursor: pointer;
    }
}

@mixin before-after {
    content: '';
    width: 15%;
    border-bottom: solid 1px $items-color;
    position: absolute;
    top: 50%;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
